<div class="px-3">
    <div class="row">
    <div class="col-md-3 ">
        <h5>Financial Year 2024/2025</h5>

    </div>
    <div class="col border-start">
        <ul class="nav-pills border-bottom pb-1 nav ms-3 hstack  list-group">
            <a data-bs-toggle="pill" href="" data-post-filter=".allocations_disbursements" class="nav-link active">
                Allocations/Disbursements
            </a>
            <a data-bs-toggle="pill" data-post-filter=".plans_budgeting" href="" class="nav-link">
                Plans/Budgeting
            </a>
            <a data-bs-toggle="pill" data-post-filter=".projects_tenders" href="" class="nav-link">
                Projects/Tenders
            </a>
        </ul>
        <div class="feeds">
            <div class="feed-list feed-filter-docs  vstack"></div>
            <div class="d-none">
                {%include 'empty/content.html'%}
            </div>
        </div>
    </div>
</div>
</div>