<div class="vstack align-items-center justify-content-center h-100">
    <div class="mz">
        <div class="try-container">
            <div class="try-slider">
                <div class="try-face p-5 active">
                    <div class="try-content">
                        <div class="media">
                            <img src="http://localhost:8000//file_manager/app_files/ket_images/feeds/l/feedImg-4rk85lgr-2024-07-25.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="try-face p-5 ">
                    <div class="try-content">
                        <div class="media">
                            <img src="http://localhost:8000//file_manager/app_files/ket_images/feeds/l/feedImg-4rk85lgr-2024-07-25.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="try-face p-5">
                    <div class="try-content">
                        <div class="media">
                            <img src="http://localhost:8000//file_manager/app_files/ket_images/feeds/l/feedImg-4rk85lgr-2024-07-25.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="try-indicators">
                <div class="try-indicator-display"></div>
            </div>
        </div>
    </div>
</div>