{%set note = data.note %}
<div  class="ket-list-item rounded-2">
    <div data-url="{{note.text.link}}" class="hstack w-100">
        <div class="ket-list-item-prepend">
            <div class="px-2">
                <div class="avatar">
                    <img class="avatar-img" src="{{note.note_from.profile_pic | file_image}}" alt="">
                </div>
            </div>
        </div>
        <div class="ket-list-item-content">
            <div class="vstack">
                <span class="fw-bold ">{{note.text.header}}</span>
                <p class="text-secondary">{{note.text.content}}</p>
            </div>
            <div class="note-more">
                            <span data-bs-toggle="dropdown"
                                  class="btn bg-secondary-soft-hover rounded-circle p-3 icon-lg icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-three-dots" viewBox="0 0 16 16">
                                  <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                                </svg>
                            </span>
                <div class="dropdown-menu rounded-2 dropdown-menu-end">
                    <div class="dropdown-item">
                        <a href="" class="text-reset text-decoration-none py-3">Mute</a>
                    </div>
                    <div class="dropdown-item">
                        <a href="" class="text-reset text-decoration-none py-3">MArk as read</a>
                    </div>
                    <div class="dropdown-item">
                        <a href="" class="text-reset text-decoration-none py-3">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>