<div class="card card-body border-0 hs-shadow-2">
    <div class="vstack">
        <div class="gap-2 vstack">
            <span>Old password</span>
            <input  type="text" class="form-control shadow-none">
        </div>
        <div class="div vstack">
            <span>New password</span>
            <input type="text" class="form-control shadow-none">
        </div>
        <div class="div vstack">
            <span>Confirm new password</span>
            <input type="text" class="form-control shadow-none">
        </div>
    </div>

</div>