<div class="vstack fp-begin px-3 ">
    <div class="py-2 text-center">
        <span class="h4 text-success">What is your post all about?</span>
    </div>
    <div class="position-absolute fp-loader bg-secondary-soft inset-0">
        <div class="vstack h-100 justify-content-center align-items-center">
            <div class="card p-3 col-2 " style="aspect-ratio: 1/1">
                <div class="border-spinner w-100 h-100"></div>
            </div>
        </div>
    </div>
    <div class="vstack gap-2">

        <div data-ct-option="1" class="rounded-pill bg-secondary-soft btn">
            Acknowledgement
        </div>
        <div data-ct-option="cr" class="rounded-pill bg-secondary-soft btn">
            Corruption
        </div>
        <div data-ct-option="4" class="rounded-pill bg-secondary-soft btn">
            Other
        </div>
        <div class="hstack justify-content-between">
            <span class="smaller text-center mt-2 text-muted">Select an option to get started.</span>
            <div data-ct-option="0" class="rounded-pill px-3 col-5  btn-outline-danger btn">
                Cancel
            </div>
        </div>
    </div>
</div>