<div class="hstack mt-4 gap-2 mx-auto">
    {%set size = 64%}
    {% include "utils/logo.html"%}
    <h2 class="my-3 smart-logo text-center fw-bolder">
        <style>
            .logo-text>*{
                font-size: 3rem;
                font-weight: bolder;
            }
        </style>

        <span class="fs-4 logo-text fw-bold smart-logo hstack  gap-0 pointer ps-3">
                        <span class="text-danger">KE</span>
                        <span class="text-success">ye</span>
                    </span>
    </h2>
</div>