<div class="modal scale-in " id="modal-new-page">
    <div class="modal-dialog modal-fullscreen p-0">
        <div class="modal-content h-100">
            <div class="modal-body py-0">
                <div class="row h-100">
                    <div class="col-4 smv-page-option hs-shadow-3 h-100">
                        <div class="postion-absolute h-100 w-100 new_acc_selector">
                            <div class="vstack h-100 justify-content-center">
                                <div class="">
                                    <div class="form-floating  pointer form-selector position-relative">
                                        <label class="d-none">
                                            <input name="category" class="input-selector " type="text" hidden="hidden">
                                        </label>
                                        <div data-form-selector type="text" class="form-control shadow-none"
                                             placeholder="Category">
                                            <span class="m-selector-value">
                                                Account type
                                            </span>
                                            <div class="position-absolute top-50 me-1 translate-middle-y end-0">
                                            <span class="p-3 btn rounded-circle ">
                                               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                                  <path fill-rule="evenodd"
                                                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                                                </svg>
                                            </span>
                                            </div>
                                        </div>
                                        <label >Account type</label>


                                        <div class="form-selector-options">
                                            <div class="card bg-light hs-shadow-3 p-0 py-1 card-body">
                                                <ul class="option-list nav">
                                                    <li data-smv-target="user_account" value="health" class="option-item px-3">
                                                        USer
                                                    </li>
                                                    <li data-smv-target="page_account" value="health" class="option-item px-3">
                                                        Page
                                                    </li>
                                                    <li data-smv-target="org_account" value="health" class="option-item px-3">
                                                        Managing organization
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vstack page_account smv-page-option-item">
                            <div class="my-2">
                                <div class="h3">
                                    Add new Account
                                </div>
                                <p>
                                    This is the account to be used to give updates.
                                </p>
                            </div>
                            <form class="vstack gap-3 form-n-page" action="">
                                <div class="">
                                    <div class="form-floating">
                                        <input name="p-name" id="ip1" type="text" class="form-control shadow-none"
                                               placeholder="Page name">
                                        <label for="ip1">Account name</label>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="form-floating">
                                        <input name="p-mail" id="ip0" type="text" class="form-control shadow-none"
                                               placeholder="Page name">
                                        <label for="ip0">Email</label>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="form-floating">
                                        <input name="p-desc" id="ip2" type="text" class="form-control shadow-none"
                                               placeholder="Description">
                                        <label for="ip2">Description</label>
                                    </div>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-success w-100 ">Create</button>
                                </div>
                            </form>
                        </div>
                        <div class="vstack org_account smv-page-option-item">
                            <div class="my-2">
                                <div class="h4">
                                    Add managing organization
                                </div>
                            </div>
                            <form class="vstack gap-3 form-n-org" action="">
                                <div class="">
                                    <div class="form-floating">
                                        <input name="p-name" id="ip1" type="text" class="form-control shadow-none"
                                               placeholder="Page name">
                                        <label for="ip1">Organization Name</label>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="form-floating">
                                        <input name="p-mail" id="ip0" type="text" class="form-control shadow-none"
                                               placeholder="Page name">
                                        <label for="ip0">Organization Email</label>
                                    </div>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-success w-100 ">Create</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col p-0">
                        <div class="vstack">
                            <header class="py-1 px-3 border-bottom mb-2">
                                <div class="hstack w-100">
                                    <div class=" ms-auto ">
                                        <span data-bs-dismiss="modal"
                                              class="btn rounded-circle p-1 bg-secondary-soft-hover">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34"
                                                 fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </header>
                            <div class="mx-auto">
                                <div style="width: 500px; height: 500px" class="avatar-timeline ersn avatar">
                                    <img src="" class="avatar-img bg-secondary-soft" alt="">
                                    <div class="position-absolute inset-0 vstack justify-content-center align-items-center">
                                        <i class="">
                                            <svg width="64" height="64" viewBox="0 0 24 24" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                   stroke-linejoin="round"></g>
                                                <g id="SVGRepo_iconCarrier">
                                                    <circle cx="12" cy="13" r="3" stroke="#fff"
                                                            stroke-width="1.5"></circle>
                                                    <path opacity="0.5"
                                                          d="M9.77778 21H14.2222C17.3433 21 18.9038 21 20.0248 20.2646C20.51 19.9462 20.9267 19.5371 21.251 19.0607C22 17.9601 22 16.4279 22 13.3636C22 10.2994 22 8.76721 21.251 7.6666C20.9267 7.19014 20.51 6.78104 20.0248 6.46268C19.3044 5.99013 18.4027 5.82123 17.022 5.76086C16.3631 5.76086 15.7959 5.27068 15.6667 4.63636C15.4728 3.68489 14.6219 3 13.6337 3H10.3663C9.37805 3 8.52715 3.68489 8.33333 4.63636C8.20412 5.27068 7.63685 5.76086 6.978 5.76086C5.59733 5.82123 4.69555 5.99013 3.97524 6.46268C3.48995 6.78104 3.07328 7.19014 2.74902 7.6666C2 8.76721 2 10.2994 2 13.3636C2 16.4279 2 17.9601 2.74902 19.0607C3.07328 19.5371 3.48995 19.9462 3.97524 20.2646C5.09624 21 6.65675 21 9.77778 21Z"
                                                          stroke="#fff" stroke-width="1.5"></path>
                                                    <path d="M19 10H18" stroke="#fff" stroke-width="1.5"
                                                          stroke-linecap="round"></path>
                                                </g>
                                            </svg>
                                        </i>
                                        <span class="fw-bold h4">Click to add photo</span>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal scale-in modal-component">
    <div class="modal-dialog modal-fullscreen p-0">
        <div class="modal-content h-100">
            <div class="modal-body modal-component-content py-0">
            </div>
        </div>
    </div>
</div>

<script src="{{app.js.smv}}"></script>
<script src="{{app.js.main}}"></script>
<script src="{{app.js.admin}}"></script>