<div class="main-end-bar">
    <div class="endbar">
        <div class="endbar-content">
            <div class="vstack">
                <div class="py-1">
                    <div class="px-2">
                        <div class="btn studio-btn btn-outline-dark align-items-center justify-content-center rounded-pill hstack gap-2">
                            <i class="">
                                <svg width="34" height="34" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path opacity="0.4" d="M6 12H18" stroke="green" stroke-width="1.5"
                                              stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M12 18V6" stroke="red" stroke-width="1.5" stroke-linecap="round"
                                              stroke-linejoin="round"></path>
                                    </g>
                                </svg>
                            </i>
                            <div class="fw-bold small-hide">Create</div>
                        </div>
                    </div>
                </div>
                <div class=" mb-3">
                    <div class="card py-1 prem-card-small card-body rounded-4 bg-transparent">
                        <div class="hstack justify-content-between">
                            <span class="fw-bold">Subscribe to Premium</span>
                            <span class="position-relative">
                            <img class="img-fluid" src="{{'star.svg' | file_image}}" alt="">
                        </span>
                        </div>
                        <span>
                                Subscribe to unlock new features.
                                <span class="btn gradient-1 btn-success fw-bold text-dark rounded-pill py-1">Subscribe</span>
                            </span>
                    </div>
                </div>
                <div class="follow-suggest nav-s">
                    <span class="fw-bold">Suggested Followers</span>
                    <ul class="follow-suggest-list nav">

                    </ul>
                </div>

                <div class="trending nav-s mt-3">
                    <span class="fw-bold">Trending now</span>
                    <ul class="trend-list nav">
                        <li class="nav-item trend-item">
                            <a href="#!" class="nav-link">
                                <div class="hstack align-items-start gap-2">
                                    <div class="col-4">
                                        <div class="card card-body p-0">
                                            <img class="card-img img-fluid" src="public/images/01.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="vstack">
                                        <span class="fw-bold">Police officer shot dead near Wote ...</span>
                                        <div class="hstack">
                                            <span class="text-primary">@mwambaz</span>
                                            <span class="smaller">. Tue May 13</span>
                                        </div>
                                        <span class="text-primary">see more</span>

                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="message-area">
    <div class="message-card hs-shadow-2 border-0 card p-0 card-body">
        <div data-smv-toggle="collapse" data-smv-target="#c1" class="hstack pointer px-4 py-3 mb-1 justify-content-between">
            <span class="fw-bold">Messages</span>
            <div>
                                <span  class="icon icon-lg pointer">
                                    <svg viewBox="0 0 24 24" aria-hidden="true" width="24" height="24"
                                         style="color: rgb(239, 243, 244);"><g><path
                                            d="M12 2.59l9.46 9.45-1.42 1.42L12 5.41l-8.04 8.05-1.42-1.42L12 2.59zm0 7l9.46 9.45-1.42 1.42L12 12.41l-8.04 8.05-1.42-1.42L12 9.59z"></path></g></svg>
                                </span>
            </div>
        </div>
        <div id="c1" class="message-content border-top collapse">
            <div class="vstack h-100 justify-content-center align-items-center">
                                <span>
                                    <svg width="34" height="34" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier"
                                                                               stroke-width="0"></g><g
                                            id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="3"
                                                                                                             cy="3"
                                                                                                             r="3"
                                                                                                             transform="matrix(-1 0 0 1 22 2)"
                                                                                                             stroke="#1C274C"
                                                                                                             stroke-width="1.5"></circle> <path
                                            d="M14 2.20004C13.3538 2.06886 12.6849 2 12 2C10.1786 2 8.47087 2.48697 7 3.33782M21.8 10C21.9311 10.6462 22 11.3151 22 12C22 17.5228 17.5228 22 12 22C10.4003 22 8.88837 21.6244 7.54753 20.9565C7.19121 20.7791 6.78393 20.72 6.39939 20.8229L4.17335 21.4185C3.20701 21.677 2.32295 20.793 2.58151 19.8267L3.17712 17.6006C3.28001 17.2161 3.22094 16.8088 3.04346 16.4525C2.37562 15.1116 2 13.5997 2 12C2 10.1786 2.48697 8.47087 3.33782 7"
                                            stroke="#1C274C" stroke-width="1.5"
                                            stroke-linecap="round"></path> </g></svg>
                                </span>
                <span>No messages!</span>
            </div>
        </div>
    </div>
</div>