<div class="hstack align-items-start">

    <div class="col ">
        <div
                style="background-image: url(/static/images/p1.png);"
                class="vstack py-4 bg-secondary-soft align-items-center">
            <h2>
                FeedBack and Responses
            </h2>
            <p>View feedbacks from different departments</p>
            <form class="rounded-pill card  col-md-6" action="">
                <div class="hstack">
                    <input type="text" class="form-control shadow-none border-0 px-4 p-3 bg-transparent"
                           placeholder="Search...">
                </div>
            </form>

        </div>
        <div class="vstack">
            {% include "empty/content.html"%}
        </div>
    </div>
</div>