<div class="d-flex d-noe flex-column bg-main-chat h-100 position-relative empty-main">
    <div class="position-absolute overflow-hidden bottom-0 z-0 w-100 h-50">
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="vstack z-0 justify-content-center align-items-center">

                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="64px" height="64px" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-message-square"><path
                                        d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
                            </span>
        <h5 class="fw-bold">Select user to start a chat.</h5>
    </div>
</div>