<div class="vstack">
    <div class="hstack px-4 bg-secondary align-items-center">
        <div class="col-auto">
            <div class="avatar-lg avatar">
            <img class="avatar-img" src="{{current_user.profile_pic | file_image }}" alt="">
        </div>
        </div>
        <div class="mx-auto text-center py-2 text-light">
            <h3 class="fw-bold text-uppercase">{{current_user.fullname}}</h3>
            <h4 class="text-uppercase">Administrator</h4>
        </div>
        <div>
            <div class="avatar">
                <span class="avatar-text">T</span>
            </div>
        </div>

    </div>
    <div class="card bg-transparent border-0 flex-grow-1">
        <div class="row m-0">
            <div class="col-2 p-0 bg-success" style="min-height: 75vh">
                <ul class="list-group list-group-flush px-2  ">
                    <li class="list-group-item  px-0 bg-transparent ">
                        <a data-mg-page="documents" class="btn btn-secondary w-100" href="">
                            Documentation
                        </a>
                    </li>
                    <li class="list-group-item px-0 bg-transparent ">
                        <a class="btn btn-secondary w-100" href="">
                            Comment Analysis
                        </a>
                    </li>
                    <li class="list-group-item  px-0 bg-transparent ">
                        <a class="btn btn-secondary w-100" href="">
                            Opinion poll
                        </a>
                    </li>
                    <li class="list-group-item px-0  bg-transparent ">
                        <a data-mg-page="settings" class="btn btn-secondary w-100" href="">
                            Settings
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <div class="vstack py-1 ep-docs">
                    {% include "empty/content.html"%}
                </div>
            </div>
        </div>
    </div>
</div>