<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1,user-scalable=0,viewport-fit=cover">
    <meta name="theme-color" content="#198754">

    <title>{{app.page.title}}</title>
    {% include "utils/p_header.html" %}
</head>
<body>
<div data-page-loader="" class="top-0  end-0 start-0">
    <div class="position-relative overflow-hidden">
        <span class="barloading"></span>
    </div>
</div>
<div class="main-layout row">
    {% include "utils/splash.html" %}
</div>
{% include "utils/p_footer.html" %}
</body>





</html>