<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KENYA TODAY | INSTALL</title>
    <link rel="stylesheet" href="{{config.css1}}">
    <link rel="stylesheet" href="{{config.css2}}">
</head>
<body>
<div class="main-layout">
   <div class="vstack align-items-center py-5">
       <div>
           <h4>Install</h4>
       </div>
       <div class="col-md-6 mx-auto">
           <div class="card hs-shadow-2">
               <div class="card-body ">
                   <form autocomplete="" method="post" action="/auth/install" class="vstack gap-2">
                       <input type="hidden" name="install" value="56">
                       <div class="row">
                           <div class="col">
                               <div class="form-floating">
                                   <input name="db_host" type="text" class="form-control shadow-none" placeholder="NAme">
                                   <label for="">Database host</label>
                               </div>
                           </div>
                           <div class="col">
                               <div class="form-floating">
                                   <input name="db_user" type="text" class="form-control shadow-none" placeholder="NAme">
                                   <label for="">Database username</label>
                               </div>
                           </div>
                       </div>
                       <div class="row">
                           <div class="col">
                               <div class="form-floating">
                                   <input name="db_name" type="text" class="form-control shadow-none" placeholder="NAme">
                                   <label for="">Database Name</label>
                               </div>
                           </div>
                           <div class="col">
                               <div class="form-floating">
                                   <input name="db_password" type="text" class="form-control shadow-none" placeholder="NAme">
                                   <label for="">Database password</label>
                               </div>

                           </div>
                       </div>
                       <spn class="h4 border-bottom">Admin Config</spn>
                       <div class="form-floating">
                           <input name="admin_name" type="text" class="form-control shadow-none" placeholder="NAme">
                           <label for="">Admin Name</label>
                       </div>
                       <div class="form-floating">
                           <input name="admin_email" type="email" class="form-control shadow-none" placeholder="NAme">
                           <label for="">Admin Email</label>
                       </div>
                       <div class="form-floating">
                           <input name="admin_password" type="password" class="form-control shadow-none" placeholder="NAme">
                           <label for="">Password</label>
                       </div>
                       <div class="mt-3">
                           <button class="rounded-pill btn btn-primary" type="submit">Install</button>
                       </div>
                   </form>
               </div>
           </div>
       </div>
   </div>
</div>
</body>
</html>